/*fontes usadas na logo Edu australia e yellowtail*/
body {

    background-color: #7fb6ff; /*1d2e35 or 7fb6ff*/
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: none;
}
.container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 95vh;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 600px;
    height: 85vh;
    background-color: rgb(240, 248, 255, 0.3);
    padding: 20px;
    border-radius: 30px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}
.hLeft {
    display: flex;
    height: 100%;
    width: 180px;
    
}
.menuOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-left: 20px;
    gap:5px;
    cursor:pointer; 
}

.bar1, .bar2, .bar3 {
    width: 32px;
    height: 3px;
    border-radius: 10px;
    background-color: #fff;
}

.logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
}
.imgLogo {
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
}
.hRight {
    width: 180px;
    height: 100%;
}

.version {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    color: #ffffff70;
}
.version:hover {
    color: #ffffff;
    cursor: pointer;
}

.midle {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.homepage {
    display: none;/* mudar entre flex e none*/
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: transform 1s ease;
}

.buttonAreaNewList {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal; 
    padding: 50px 50px 0px 50px; /*trocar o 0px por 50px*/
}
.buttonAreaNewList span {
    padding: 5px;
}
.nova {
    color: #fff;
}
.lista {
    color: #deff00;
}
.addNewList-btn {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor:pointer;
    border: 1px solid#ffffffc7;
    border-radius: 200px;
    width: 75px;
    height: 40px;
    color: #ffffffc7;
}
.addNewList-btn:hover {
    border: 1px solid rgb(222, 255, 0);
    color: #6e6e6e;
    background-color: #ffffffc7;
    box-shadow: 0px 0px 3px  rgba(221, 255, 0, 0.527);
}

.addNewList-btn:active {
    border: 1px solid rgba(221, 255, 0, 0.788);
    color: #6e6e6e;
    background-color: #e7e5e5c7;
    box-shadow: 0px 0px 3px  rgba(221, 255, 0, 0.527);
}


.boxListOptions {
    display: flex;/*alterar entre none e flex*/
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
    transition: transform 0.8s ease;
    transform: translateY(-50px);/*trocar para 0px no js*/
    z-index: 1001;
}

.listOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 90%;
    border-radius: 25px;
    padding-left: 8px;
    padding-right: 8px;
    color: #777777;
    background-color: #ffffffc0;
}
.listOptions span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    color: #777777;
}

.listOptions::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffffc0;

}

.area-1, .area-2, .area-3, .area-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    gap: 5px
}

.fastList {
    font-family: "Bagel Fat One";
    font-weight: 400;
    font-style: normal;
}

.fastList, .supermarket, .favorites, .customList {
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #00000041;*/
    background-color: #ffffffd3 ;
    border-radius: 15px;
    width: 62px;
    height: 60px;
    font-size: 18px;
    cursor: pointer;
    
}

.fastList:hover, .supermarket:hover, .favorites:hover, .customList:hover {
    color: #ffffffd3;
    background-color: #77777734;
}

.fastList:active, .supermarket:active, .favorites:active, .customList:active {
    color: #ffffffd3;
    background-color: #77777771;
}


.footer {
    height: 10%;
}

.clock {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;    
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.hour {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.596);
    font-size: 50px;
    padding: 10px;
    border-radius: 20px;
    width: 80px;
    color: rgb(255, 255, 255) 
}
.points {
    font-size: 50px;
    border-radius: 20px;
    color: rgb(255, 255, 255); 
}

.minutes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.596);
    font-size: 50px;
    padding: 10px;
    width: 80px;
    border-radius: 20px;
    color: rgb(255, 255, 255);  
}
.infoday,
.infomonth {
    color: rgba(0, 0, 0, 0.37);  
    margin: 2px;
    padding: 0;
}

.fastList-Page {
    display: flex; /*mudar entre flex e none*/
    flex-direction: column;
    /*background-color: #6e6e6e;*/
    height: 100%;
    width: 100%;
}


.supermarket-Page {
    display: none; /*mudar entre flex e none*/
    flex-direction: column;
    /*background-color: #6e6e6e;*/
    height: 100%;
    width: 100%;
}


.hInfos {
    display: flex;
    justify-content: end;
    align-items: center;
}

.hclock {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    color:#ffffff;
    cursor:default;
}

.header-fastListPage {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #7fb6ff;*/
    height: 50px;
    width: 100%;
    gap: 8px;
}
.title-fl {
    display: flex;
    flex-grow: 1;
    font-family: "Special Gothic Expanded One", sans-serif;
    color: #fff;
}
.afL1, .afL2, .afL3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777777;
    
}

.afL3 {
    display: none;
}

.btn-home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffc0;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

.btn-order {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffc0;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
}

.btn-favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffc0;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
}

.btn-home:hover, .btn-favorite:hover {
    color: #ffffffd3;
    background-color: #77777734;
} 

.btn-home:active, .btn-favorite:active {
    color: #ffffffd3;
    background-color: #77777771;
}

.addItensArea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-bottom: 3px;
}

.boxAddItens {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    height: 45px;
    padding: 0px 15px 0px 15px;
    margin-top: 5px;
    border-radius: 5px;
}

.inputAddItens {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

#addItens {
    border: none;
    background: none;
    width: 100%;
    height: 90%;
    outline: none;
    font-family: "Special Gothic Expanded One", 'Segoe UI';
    font-size: 14px;
}

#addItens::placeholder {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: #e0e0e0;
}

.addIa1 {
    display: flex;
    font-family: "Special Gothic Expanded One", 'Segoe UI';
}
.btn-addItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #deff00;
    color: #9cb401;
    font-size: 24px;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    cursor: pointer;
}
.btn-addItem:hover {
    background-color: #c8e700;
    color: #ddff00;
}

.btn-addItem:active {
    background-color: #b5d100;
    color: #ddff00;
}

.itensLength {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    color: #ffffffde;
    margin-top: 15px;
}

.listArea {
    display: flex;
    align-items: start;
    flex-direction: column;
    /*background-color: #7fb6ff;*/
    overflow-y: auto;
    width: 100%;
    height: 100%;
    gap: 5px;  
}

.listArea::-webkit-scrollbar {
    width: 3px;
}
.listArea::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.listArea::-webkit-scrollbar-thumb {
    background: #777777;
    border-radius: 10px; 
}

.boxListArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    /*background-color: #ff9900;*/
}
.listItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 35px;
    padding: 0px 8px 0px 0px;
    border-radius: 5px;
}
.section {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:3px;
    align-items: center;
    cursor: pointer;
}

.dot {
    width: 2px;
    height: 2px;
    background-color: #777777;
    border-radius: 50%;
}
.itemtxt {
    flex-grow: 1;
    font-family: "Special Gothic Expanded One", 'Segoe UI';
    font-size: 14px;
}
.lIa1, .lIa2, .lIa3 {
    padding: 0px 3px 0px 3px;
}

.btn-checked {
    display: flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    background-color:#ffffffc0;
    color: #777777;
    width: 22px;
    height: 22px;
    border-radius: 8px;
}

.btn-checked:hover {
    background-color: rgba(39, 233, 0, 0.3);
    color: #fff;

}

.btn-alert {
    display: flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    background-color:#ffffffc0;
    color: #777777;
    font-weight: bold;
    width: 22px;
    height: 22px;
    border-radius: 8px;
}

.btn-alert:hover {
    background-color: rgb(255, 230, 0, 0.3);
    color: #FFF;
}

.btn-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    cursor: pointer;
    background-color:#ffffffc0;
    width: 22px;
    height: 22px;
    border-radius: 50%;   
}

.btn-delete:hover {
    background-color: rgb(255, 82, 82, 0.3);
}

.midlebar {
    width: 70%;
    height: 3px;
    background-color: #777777;;
    border-radius: 5px;
}

.pageFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #777777;*/
    width: 100%;
    height: 50px;
}

.boxPagEnd {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #7fb6ff;*/
    gap:10px;
    width: 95%;
    height: 50px;
}

.PEa0, .PEa1, .PEa2, .PEa3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777777; 
}

.btn-order {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffc0;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

.btn-rebuild {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffc0;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

.btn-deleteAll {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffc0;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;  
}
.btn-save {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffc0;
    color: #9b9b9b; 
    width: 30px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' -100,
  'opsz' 24
}



.btn-order:hover , .btn-rebuild:hover, 
.btn-deleteAll:hover, .btn-save:hover {
    color: #ffffffd3;
    background-color: #77777734; 
} 

.btn-order:active , .btn-rebuild:active, 
.btn-deleteAll:active, .btn-save:active {
    color: #ffffffd3;
    background-color: #77777771;
}

.footer {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 9px;
    color: #ffffff70;
}

.footer span:hover {
    color: #FFF;
    cursor: default;
}




